header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    background-image: url(assets/header.jpeg);
    background-size: auto;
    width: 700px;
    height: 180px;
    border: double 4px rgb(211, 211, 211);
}

#header--search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header--search-input-error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img {
    height: 70%;
}

header input{
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 3px;
    height: 25px;
    font-family: Bitxmap;
    padding: 2px;
}

small{
    color: red;
}

header button{
    background-color: darkslategray;
    border: solid 2px rgb(211, 211, 211);
    border-radius: 3px;
    color: rgb(211, 211, 211);
    font-family: Bitxmap;
    height: 25px;
    padding: 2px;
    margin: 5px;
}